@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Open+Sans:wght@300;500;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

b {
  font-weight: 500;
}

body, h1, h2, p, li {
  color: #555;
}

h1 {
  font-family: 'Metamorphous', serif;
}

.page-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-with-subheader {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header-hr {
  margin-bottom: 32px;
}

h1, h2 {
  margin-top: 0.3em!important;
  text-align: center;
  margin-bottom: 0em!important;
}

body, p, li {
  font-size: 18px;
}

a {
  color: #a739ff;
}

a:hover {
  color: #cd18db;
}

ul {
  list-style: square;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.subheader {
  font-size: 1em;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
