.blog-description {
    color: gray;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.post-row {
    margin-bottom: 2em;
}

.post-image {
    max-width: 100%;
}

.post-title {
    font-size: 2em;
    font-weight: 500;
}

.post-date {
    font-size: 1em;
    color: darkgray;
}